@page "/"

@inject TypeofabsenceServices typeofabsenceServices

<button class="btn btn-primary" @onclick="ListTypee">Lista</button>

@code{
    protected void ListTypee()
    {
        var lista = typeofabsenceServices.ListType();
    }
} 